<h1>Hola Usuario {{name}}</h1>
<h3>Datos</h3>
<ul>
  <li>Correo Electronico: {{email}}</li>
  <li>Edad: {{age}}</li>
  <li>Estado: {{address.state}}</li>
  <li>Ciudad: {{address.city}}</li>
  <li>Calle: {{address.street}}</li>
</ul>
<button (click)="onClick()">Cambiar Nombre</button>

<button (click)="toggleEdit()">Editar Usuario</button>
<div *ngIf=isEdit>
  <h1>Editar Usuario</h1>
  <form>
    <div>
      <label for="name">Nombre: </label><br>
      <input type="text" [(ngModel)]="name" name="name">
    </div>
    <div>
      <label for="age">Edad: </label><br>
      <input type="number" [(ngModel)]="age" name="age">
    </div>
    <div>
      <label for="email">Email: </label><br>
      <input type="text" [(ngModel)]="email" name="email">
    </div>
    <div>
      <label for="street">Calle: </label><br>
      <input type="text" [(ngModel)]="address.street" name="street">
    </div>
    <div>
      <label for="city">Ciudad: </label><br>
      <input type="text" [(ngModel)]="address.city" name="city">
    </div>
    <div>
      <label for="state">Estado: </label><br>
      <input type="text" [(ngModel)]="address.state" name="state">
    </div>
  </form>
</div>

<h3>Hobbies</h3>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i=index">
    {{i+1}}: {{hobby}} <button (click)="deleteHobby(i)">Borrar</button>
  </li>
</ul>

<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>