<h1>Hola Usuario {{name}}</h1>
<h3>Datos</h3>
<ul>
  <li>Correo Electronico: {{email}}</li>
  <li>Edad: {{age}}</li>
  <li>Estado: {{address.state}}</li>
  <li>Ciudad: {{address.city}}</li>
  <li>Calle: {{address.street}}</li>
</ul>

<button (click)="onClick()">Cambiar Nombre</button>

<h3>Hobbies</h3>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby:</label>
    <input type="text" #hobby>
  </div>
</form>
<ul>
  <li *ngFor="let hobby of hobbies; let i=index">
    {{i+1}}: {{hobby}} <button (click)="deleteHobby(i)">Borrar</button>
  </li>
</ul>
